---
- name: Docker
  hosts: all
  become: yes

  tasks:
  - name: List Docker networks
    shell: "docker network ls"
    changed_when: False
    register: dockerNets

  - name: Create network config-only
    command: docker network create --config-only --subnet "{{ item.subnet }}" --gateway "{{ item.gateway }}" --ip-range="{{ item.ip }}" -o parent=ens192."{{ item.id }}" "{{ item.name }}"
    when: item.name not in dockerNets.stdout
    loop:
      - { id: '640', ip: '10.7.0.20/32', gateway: '10.7.0.1', subnet: '10.7.0.0/22', name: 'vlan640_bridge' }
